.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding:1px;
  }

  .menu-items {
    position: absolute;
    height: 85.2vh;
    width: 200px; /* 寬度 */
    background-color: #656565; 
    display: flex;
    flex-direction: column;
  }
  
  .menu-items button {
    display: block;
    width: fit-content; /* 讓按鈕大小僅包裹文字 */
    background-color: transparent;
    border: none;
    padding: 8px;
    text-align: middle;
    cursor: pointer;
    border-bottom: 2px solid #9f279b; /* 加底線 */
    margin-bottom: 4px;
  }
  
  .menu-items button:hover {
    background-color: #f0f0f0;
  }

  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 设置整个页面高度为视窗高度 */
  }
  
  .background {
    width: 100%;
    height: 100vh; /* 设置粉红色到淡蓝色区域的高度为70%的视窗高度 */
    background: linear-gradient(to bottom, rgb(247, 134, 153), rgb(53, 190, 236)); /* 使用线性渐变背景 */
  }
  
  .darkblue-area {
    width: 100%;
    height: 20vh; /* 设置黑色区域的高度为30%的视窗高度 */
    background-color: rgb(0, 2, 110);
  }

/****************************/

.avatar {
  width: 100px; /* 調整頭像的大小 */
  height: 100px;
  border-radius: 50%; /* 使頭像變成圓形 */
  margin-right: 10px; /* 調整頭像和 logout 按鈕之間的間距 */
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white; /* 文字顏色 */
  cursor: pointer;
  font-size: 16px; /* 文字大小 */
  outline: none;
}

.logout-button:hover {
  text-decoration: underline; /* 滑鼠懸停時添加下劃線 */
}

/*********************/

.logo {
  position: absolute;
  top: 13px; /* 距離頂部的距離 */
  right: 23px; /* 距離右側的距離 */
  width: 223px; /* 調整 logo 的大小 */
  height: 88px;
  /* 其他樣式，例如邊框、邊距等 */
}

.text-container {
    position: absolute;
    top: 15%;
    left: 25%;
}  

/**********************/
.text-container input[type="text"] {
    width: 300px; /* 調整文字框的寬度 */
    height: 50px; /* 調整文字框的高度 */
    /* 添加其他的樣式，如邊框、邊框半徑、填充等 */
}

.submit-button {
  background-color: transparent; /* 設置按鈕內的背景為透明 */
  color: #a42fd3; /* 設置文本顏色 */
  border: 2px solid #a42fd3; /* 設置邊框，此處為藍色 */
  padding: 10px 20px; /* 設置內邊距 */
  border-radius: 10px; /* 設置圓角 */
  font-size: 20px; /* 設置字體大小 */
  cursor: pointer; /* 添加鼠標指針 */
  text-decoration: none; /* 移除默認的文本下劃線 */
  display: inline-block; /* 設置為行內塊元素 */
}

.submit-button:hover {
  background-color: #d9e1ea45; /* 懸停時改變背景色為藍色 */
  color: white; /* 懸停時改變文本色為白色 */
}

.menu-items a {
  display: block; /* 将链接显示为块级元素 */
  margin-bottom: 50px; /* 设置链接之间的垂直间距 */
}